node_modules
.env
views/background-1.jpg
views/background.jpg
views/burgerking.jpg
views/burgerpit.jpg
views/deltaco.jpg
views/elpolloloco.jpg
views/phohouse.jpg
views/pizza_1.jpg
views/pizza_2.jpg
views/pizza_3.jpg
views/pizza_4.jpg
views/pizza_5.jpg
views/pizzahut.jpg
views/shopping-cart.jpg
views/tacobell.jpg
notes.txt
